dest/build.user.js
dest/memory.json
node_modules/*
!node_modules/config
!node_modules/rxstream.js
!node_modules/utils.js
!node_modules/sechatapi.js
!node_modules/requirify
!node_modules/sechatsocket
!node_modules/apputils.js
!node_modules/storage.js
